<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList--my</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	
	<div id="app">
		<section id="signInAndSignUp" v-if="!currentUser">
			<div class="signLogin-dlg">
				<h1>ToDoList</h1>
				<p class="comeon">现在的你一定会感谢过去努力的你</p>
				<div class="dlg-wrapper">
					<div class="sign-ct">
						<label :class="{active:actionType === 'signUp'}"><input type="radio" name="type" v-model="actionType" value="signUp">注册</label>
						<label :class="{active:actionType === 'login'}"><input type="radio" name="type" v-model="actionType" value="login">登录</label>
					</div>
					<div class="signUp" v-if="actionType ==='signUp'">
						<form v-on:submit.prevent=signUp>
							<div class="formRow"><p>用户名</p><input type="text" v-model="formData.username" placeholder="请输入用户名"></div>
							<div class="formRow"><p>密码</p><input type="password" v-model="formData.password" placeholder="请输入密码"></div>
							<div class="formActions"><input type="submit" value="注册"></div>
						</form>
					</div>
					<div class="login" v-if="actionType ==='login'">
						<form @submit.prevent="login">
							<div class="formRow"><p>用户名</p><input type="text" v-model="formData.username" placeholder="请输入用户名"></div>
							<div class="formRow"><p>密码</p><input type="password" v-model="formData.password" placeholder="请输入密码"></div>
							<div class="formActions"><input type="submit" value="登录"></div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<section id="todo" v-if="currentUser" class="clearfix">
		<div class="sidebar">
			<h1>ToDoList</h1>
			<h3>筛选</h3>
			<ul class="catlist">
				<li @click="filterAllTodo"><i class="fa fa-tags"></i>&nbsp;全部</li>
				<li @click="filterActiveTodo"><i class="fa fa-clock-o"></i>&nbsp;待办</li>
				<li @click="filterFinishedTodo"><i class="fa fa-check-circle-o"></i>&nbsp;完成</li>
			</ul>
		</div>
		<div class="viewpart">
			<div class="newTask clearfix">
				<input type="text" v-model.trim="newTodo" v-on:keypress.enter="addTodo" placeholder="今日事今日毕，加油哦~">
				<span class="btn add" @click="addTodo">添加事项</span>
				<p class="user-name">你好，{{ currentUser.username }}</span><button @click="logout" class="logout">退出</button></p>
			</div>
			<ol class="todos">
				<li v-for="(todo,index) in todoList" v-bind:class="{finished: todo.done}">
					<!-- 给单选框todo.done绑定了 @change='saveOrUpdateTodos()'事件，刷新后可以保存 -->
					<!-- <input type="checkbox" v-model="todo.done" @change="saveOrUpdateTodos()">
					{{ index+1 }}.{{ todo.title }} -->
					<span class="inactive" v-if="todo.done"><i class="fa fa-circle" @click="toggleFinish(todo)"></i></span>
					<span class="active" v-else><i class="fa fa-circle" @click="toggleFinish(todo)"></i></span>
					<span :class="{finished:todo.done}" @click="toggleFinish(todo)" :title="todo.title">{{ todo.title }}</span>
					<span>创建时间:{{ todo.createdAt }}</span>
					<span class="btn del fa fa-trash-o" v-on:click="removeTodo(todo)"></span>
				</li>
			</ol>
		</div>
		</section>
	</div>
	<script src="bundle.js"></script>
</body>
</html>
