@charset "utf-8";
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
ul,li{
    list-style:none;
}
body{
    font-family:"Helvetica Neue",Helvetica,Arial,"Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
.clearfix:after{
    content:"";
    display:block;
    clear:both;
}
.clearfix{
    *zoom:1;
}
#signInAndSignUp{
    background: #353F55;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.signLogin-dlg{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.comeon{
    text-align: center;
    margin: 0 0 25px;
    color: beige;
}
.signLogin-dlg h1{
    text-align:center;
    font-size:2rem;
    color:#fff;
    margin-bottom:13px;
}
.dlg-wrapper{
    box-shadow:0 0 8px #333;
    border-radius:5px;
    background: #fff;
}
.dlg-wrapper .sign-ct{
    width: 300px;
    height: 50px;
    text-align: center;
}
.dlg-wrapper .sign-ct label{
    padding:0 0 12px 16px;
    color:#3B4465;
    margin:0 30px;
    letter-spacing:16px;
    line-height:50px;
    cursor:pointer;
    opacity:.6;
}
.dlg-wrapper .sign-ct label.active{
    border-bottom:2px solid #353F55;
    opacity:1;
}
.dlg-wrapper .sign-ct label input{
    display:none;
}
.dlg-wrapper .signUp,.dlg-wrapper .login{
    width: 300px;
    margin-top: 10px;
    overflow: hidden;
}
.dlg-wrapper .formRow{
    margin-bottom:20px;
}
.dlg-wrapper .formRow p{
    width: 80%;
    text-align: left;
    height: 30px;
    line-height: 30px;
    color: #BECACA;
    margin: 0 auto;
}
.dlg-wrapper .formRow input{
    display:block;
    width: 80%;
    height: 40px;
    line-height:40px;
    margin: 0 auto;
    background: #faffbd;
    border: 1px solid #D7E3F2;
    border-radius: 5px;
    padding: 0 10px;
    outline:none;
}
.dlg-wrapper .formActions{
    float:right;
    margin:0 30px 20px;
}
.dlg-wrapper .formActions input{
    display:block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border-radius: 1.5rem;
    cursor: pointer;
    background: #B0E559;
    border:none;
    outline:none;
    transition:all .3s;
}
.dlg-wrapper .formActions input:hover{
    background: #5CB85C;
}
.dlg-wrapper .login .formActions input{
    color: #B0E559;
    background: #fff;
    border:2px solid #B0E559;
}
.dlg-wrapper .login .formActions input:hover{
    color:#fff;
    background: #B0E559;
    border:2px solid #B0E559;
}
.sidebar{
    float: left;
    background: #353F55;
    width: 20%;
    height: 100vh;
    color: #fff;
}
.sidebar h1{
    width:60%;
    margin:30px auto;
    padding-bottom:20px;
    letter-spacing:3px;
    white-space:nowrap;
}
.sidebar h3{
    width:60%;
    margin:10px auto;
}
.sidebar .catlist{
    width: 60%;
    margin:0 auto;
}
.sidebar .catlist li{
    margin: 10px 0;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    cursor: pointer;
}
.sidebar .catlist li i{
    width: 30px;
    height: 50px;
    line-height: 50px;
}
.viewpart{
    float:right;
    width:80%;
    padding:20px 50px;
}
